<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %} LAYOUT! {% endblock %}</title>
		{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<style type="text/css" media="screen">
			.container{
				border: 1px solid black;
				width: 90%;
				height: 300px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			{% block container %}
				contenido principal
			{% endblock %}
		</div>		
		{% block javascripts %}{% endblock %}
	</body>
</html>
